.body{
  padding-top: 200px;
  
}
.display{
  display: block;
  margin: 0 auto;
  border: 1.5px solid #333;
  height: 200px;
  width: 790px;
  overflow: auto;
}
.keyboard{
  padding: 5px;
  display: flex;
  gap: 5px;
  margin: 0 auto;
  width: 790px;
  flex-wrap: wrap;
  background: #ece1e1;

}

.keys{
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 700;
  width: 45px;
  height: 45px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #af9999;
}
.space{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
   width: 300px;
   height: 45px;
   border: 1px solid #333;
   border-radius: 5px;
   background-color: #af9999;
}

.backspace{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 45px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #af9999;
}
.enter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 45px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #af9999;
}
.big-keys{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 45px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #af9999;
}
.tab{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
   width: 55px;
   height: 45px;
   border: 1px solid #333;
   border-radius: 5px;
   background-color: #af9999;
}
.ctrl{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
   width: 55px;
   height: 45px;
   border: 1px solid #333;
   border-radius: 5px;
   background-color: #af9999;
}
.spec{
  background-color: #443636;
  color: rgb(235, 214, 214);
  font-weight: 400;
}

.left{
  width: 106px;
}
.right{
  width: 105px;
}
.keys:active{
  background-color: #660b5a83;
  border-radius: 50%;
  color: #ffffff;
}
.keys:hover{
  background-color: #be8282;
  transition: 0.5s;
}

.yes{
  border-radius: 10px;
  background-color: #e7c0c0;
  color: #333;
}
.hidden{
  display: none;
}
.light{
  background-color: red;
}